<!doctype html>
<html lang="en">
<head>
    <title>Download | <%- site.title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%- site.title %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <style type="text/css">@-ms-viewport {
            width: device-width;
        }</style>

    <link rel="stylesheet" href="/design/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/design/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/design/css/layers.min.css" media="screen">
    <link rel="stylesheet" href="/design/css/style.css" media="screen">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');

        function download(os, platform, package_extension) {
            ga('send', 'event', 'Download', 'Anonim user download for ' + os, 'Download Page');
            location.href = '/downloads/' + os + '/<%= project.name_lowercase %>-<%= project.version %>-' + platform + package_extension;
            // location.href = '/login';
        }
    </script>
</head>

<body>

<header role="banner" class="transparent light">
    <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
            <nav>
                <ul class="reset" role="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">How to use</a></li>
                    <li><a href="/anonim_users_downloads">Download</a></li>
                    <li><a href="/pro_users_downloads">Download PRO</a></li>
                    <li><a href="/community_about_us">Community about us</a></li>
                </ul>
            </nav>
            <div id="brand">
                <h2 class="reset"><a href="/"><%- site.title %></a></h2>
            </div>
            <div class="login">
                <a href="/login" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign in</a>
                <a href="/signup" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign up</a>
            </div>
            <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
        </div><!-- row-content -->
    </div><!-- row -->
</header>

<main role="main">
    <div id="intro-wrap">
        <div class="container intro-item">
            <div class="intro-mockup-wrapper">
                <div class="text-center">
                    <h1 style="color: #fff;"><%- site.title %> community downloads</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="row section text-light second">
        <div class="container">
            <h3>Download <%= site.small_description %></h3>
            <h3 style="color:red">This is limited version, if you want full version please register on website.</h3>
            <span style="color:red">
                <p>Limitations:</p>
                <ul>
                    <li>Without Redis cluster.</li>
                    <li>Without Redis sentinels.</li>
                    <li>Without Redis modules.</li>
                    <li>Other minor limitations.</li>
                </ul>
            </span>
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <img src="/images/macosx.png" alt="" title="">
                            <%= project.name %> <%= project.version %> <span
                                    class="dowm-os">For Mac OS X:</span>
                        </h3>
                    </div>
                </div>
                <!-- version -->
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('macosx', 'x86_64', '.dmg')"> 64 bit Mac OS
                        X <%= project.version %>
                        Installer
                        (.dmg)
                    </button>
                </p>
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('macosx', 'x86_64', '.zip')"> 64 bit Application
                        Archive <%= project.version %> (.zip)
                    </button>
                <p>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <img src="/images/windows.png" alt="" title="">
                            <%= project.name %> <%= project.version %> <span
                                    class="dowm-os">For Windows:</span>
                        </h3>
                    </div>
                </div>
                <!-- version -->
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('windows', 'x86_64', '.exe')"> 64 bit
                        Windows <%= project.version %>
                        Installer
                        (.exe)
                    </button>
                </p>
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('windows', 'x86_64', '.zip')"> 64 bit Application
                        Archive <%= project.version %> (.zip)
                    </button>
                </p>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <img src="/images/linux.png" alt="" title="">
                            <%= project.name %> <%= project.version %> <span
                                    class="dowm-os">For Linux:</span>
                        </h3>
                    </div>
                </div>
                <!-- version -->
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('linux', 'x86_64', '.deb')"> 64 bit
                        Debian/Ubuntu <%= project.version %>
                        Package (.deb)
                    </button>
                </p>
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('linux', 'x86_64', '.rpm')"> 64 bit
                        Fedora/openSUSE <%= project.version %>
                        Package (.rpm)
                    </button>
                </p>
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('linux', 'x86_64', '.tar.gz')"> 64 bit Application
                        Archive <%= project.version %> (.tar.gz)
                    </button>
                <p>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <img src="/images/android.png" alt="" title="">
                            <%= project.name %> <%= project.version %> <span
                                    class="dowm-os">For Android:</span>
                        </h3>
                    </div>
                </div>
                <!-- version -->
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('android', 'armeabi-v7a', '.apk')">
                        Android <%= project.version %>
                        Package
                        (.apk)
                    </button>
                </p>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <img src="/images/freebsd.png" alt="" title="">
                            <%= project.name %> <%= project.version %> <span
                                    class="dowm-os">For FreeBSD:</span>
                        </h3>
                    </div>
                </div>
                <!-- version -->
                <p>
                    <button type="button" id="build_button" class="btn btn-primary"
                            onclick="download('freebsd', 'x86_64', '.tar.gz')"> 64 bit
                        FreeBSD <%= project.version %>
                        Package (.tar.gz)
                    </button>
                </p>
            </div>
        </div>
    </section>
</main>

<footer role="contentinfo">
    <div class="row">
        <div class="row-content buffer clear-after">
            <section id="top-footer">
                <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
                    <h4>Contribute</h4>
                    <p>Please submit any issues, bugs and proposals via GitHub Issues:<br/>
                        <a href="<%- site.github_issues_link %>" style="font-weight: bold;"><%- site.title %> in
                            GitHub</a><br/>
                        Thank you for finding time to help us!</p>
                </div>
                <div class="widget column three">
                    <h4>Credits</h4>
                    <table>
                        <tr>
                            <td>
                                <a href="http://redis.io" target="_blank" class="box" style="display:block;width:80px">Redis</a>
                                <a href="http://qt-project.org" target="_blank" class="box"
                                   style="display:block;width:80px">Qt</a>
                                <a href="https://www.openssl.org" target="_blank" class="box"
                                   style="display:block;width:80px">OpenSSL</a>
                                <a href="http://memcached.org/" target="_blank" class="box"
                                   style="display:block;width:80px">Memcached</a>
                                <a href="http://unqlite.org/" target="_blank" class="box"
                                   style="display:block;width:80px">UnQLite</a>
                            </td>
                            <td>
                                <a href="http://www.libssh2.org" target="_blank" class="box"
                                   style="display:block;width:80px">LibSSH2</a>
                                <a href="http://www.ssdb.io/" target="_blank" class="box"
                                   style="display:block;width:80px">SSDB</a>
                                <a href="http://www.riverbankcomputing.com/software/qscintilla/intro" target="_blank"
                                   class="box"
                                   style="display:block;width:80px">QScintilla</a>
                                <a href="https://github.com/Netflix/dynomite" target="_blank" class="box"
                                   style="display:block;width:80px">Dynomite</a>
                                <a href="http://symas.com/mdb/" target="_blank" class="box"
                                   style="display:block;width:80px">LMDB</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="widget column three">
                    <h4>E-mail:</h4>
                    <a href="mailto:<%- support.contact_email %>"><%- support.contact_email %></a>
                    <a href="/private_policy">Private policy</a>
                    <a href="/term_of_use">Term of use</a>
                </div>
            </section><!-- top-footer -->
            <section id="bottom-footer">
                <p class="keep-left"><%- company.copyright %></p>
            </section><!-- bottom-footer -->
            <p> Website development &ndash; <a href="<%- company.domain %>" target="_blank" rel="nofollow"><img
                            style="display: inline; margin: 0 !important;" src="design/img/fastogt.png"
                            alt="<%- company.description %>" title="<%- company.description %>"/></a></p>
        </div><!-- row-content -->
    </div><!-- row -->
</footer>
<script src="/scripts/jivosite.js"></script>
</body>
</html>
