<!doctype html>
<html>
<head>
    <title>Download <%- site.title %> for Mac, Windows, Linux, FreeBSD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">@-ms-viewport {
            width: device-width;
        }</style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="design/css/layers.min.css" media="screen">
    <link rel="stylesheet" href="design/css/style.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700'
          rel='stylesheet' type='text/css'>

    <meta name="description" content="<%- site.large_description %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

<div id="main" class="row">
    <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
        <div class="post-area clear-after">
            <article role="main" class="column twelve">
                <!--content-->
                <div class="row-content">
                    <div class="column five down-page">
                        <div class="row-content">
                            <div class="column six">
                                <h2 class="down-h2"><%- site.title %> <%= project.version %> <br><span class="dowm-os">For Mac OS X:</span>
                                </h2>
                            </div>
                            <div class="column four" style="float: right; margin-right: -40px; margin-top: -48px;">
                                <img src="design/img/macosx.png" alt="" title="">
                            </div>
                        </div>
                        <!-- version -->
                        <p>Download Redis, Memcached, SSDB GUI Manager for Mac OS X</p>
                        <p>The latest stable version:</p>
                        <a class="button blue"
                           href="/download_p?platform=macosx&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.dmg">64
                            bit Mac OS
                            X <%= project.version %> Installer (.dmg) </a>
                        <a class="button red"
                           href="/download_p?platform=macosx&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.zip">64
                            bit
                            Application Archive <%= project.version %> (.zip) </a>
                    </div>

                    <div class="column five down-page">
                        <div class="row-content">
                            <div class="column six">
                                <h2 class="down-h2"><%- site.title %> <%= project.version %> <br><span class="dowm-os">For Windows:</span>
                                </h2>
                            </div>
                            <div class="column four" style="float: right; margin-right: -40px; margin-top: -48px;">
                                <img src="design/img/windows.png" alt="" title="">
                            </div>
                        </div>
                        <!-- version -->
                        <p>Download Redis, Memcached, SSDB GUI Manager for Windows</p>
                        <p>The latest stable version:</p>
                        <a class="button blue"
                           href="/download_p?platform=windows&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.exe">64
                            bit
                            Windows <%= project.version %> Installer (.exe)</a>
                        <a class="button red"
                           href="/download_p?platform=windows&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.zip">64
                            bit
                            Application Archive <%= project.version %> (.zip) </a></br>

                    </div>

                    <div class="column five down-page">
                        <div class="row-content">
                            <div class="column six">
                                <h2 class="down-h2"><%- site.title %> <%= project.version %> <br><span class="dowm-os">For Linux:</span>
                                </h2>
                            </div>
                            <div class="column four" style="float: right; margin-right: -40px; margin-top: -48px;">
                                <img src="design/img/linux.png" alt="" title="">
                            </div>
                        </div>
                        <!-- version -->
                        <p>Download Redis, Memcached, SSDB GUI Manager for Linux</p>
                        <p>The latest stable version:</p>
                        <a class="button blue"
                           href="/download_p?platform=linux&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.deb">64
                            bit
                            Debian/Ubuntu <%= project.version %> Package (.deb)</a>
                        <a class="button red"
                           href="/download_p?platform=linux&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.rpm">64
                            bit
                            Fedora/openSUSE <%= project.version %> Package (.rpm)</a>
                        <a class="button red"
                           href="/download_p?platform=linux&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.tar.gz">64
                            bit
                            Application Archive <%= project.version %> (.tar.gz)</a>
                    </div>
                    <div class="column five down-page">
                        <div class="row-content">
                            <div class="column six">
                                <h2 class="down-h2"><%- site.title %> <%= project.version %> <br><span class="dowm-os">For FreeBSD:</span>
                                </h2>
                            </div>
                            <div class="column four" style="float: right; margin-right: -40px; margin-top: -48px;">
                                <img src="design/img/freebsd.png" alt="" title="">
                            </div>
                        </div>
                        <!-- version -->
                        <p>Download Redis, Memcached, SSDB GUI Manager for FreeBSD</p>
                        <p>The latest stable version:</p>
                        <a class="button blue"
                           href="/download_p?platform=freebsd&filename=<%= project.name_lowercase %>-<%= project.version %>-x86_64.tar.gz">64
                            bit
                            FreeBSD <%= project.version %> Archive (.tar.gz)</a>
                    </div>

                    <div class="column twelve" style="text-align: center;">
                        <h2><%- site.title %> <%= project.version %> <span class="dowm-os">For Android:</span></h2>
                        <a class="button blue"
                           href="/download_p?platform=android&filename=<%= project.name_lowercase %>-<%= project.version %>-armeabi-v7a.apk">Android <%= project.version %>
                            Installer (.apk)</a>
                    </div>
                </div>
            </article>
        </div><!-- post-area -->
    </div><!-- row-content -->
</div><!-- row -->

</body>
</html>
