<!doctype html>
<html>
<head>
    <title><%- site.title %> - How to use</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">@-ms-viewport {
            width: device-width;
        }</style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="design/css/layers.min.css" media="screen">
    <link rel="stylesheet" href="design/css/style.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700'
          rel='stylesheet' type='text/css'>

    <meta name="description" content="<%- site.large_description %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

<header role="banner" class="transparent light">
    <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
            <nav>
                <ul class="reset" role="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">How to use</a></li>
                    <li><a href="/anonim_users_downloads">Downloads</a></li>
                </ul>
            </nav>
            <div id="brand">
                <h2 class="reset"><a href="/"><%- site.title %></a></h2>
            </div>
            <div class="login">
                <a href="/login" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign in</a>
                <a href="/signup" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign up</a>
            </div>
            <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
        </div><!-- row-content -->
    </div><!-- row -->
</header>

<main role="main">
    <div id="intro-wrap">
        <div class="container intro-item">
            <div class="intro-mockup-wrapper">
                <div class="text-center">
                    <h1 style="color: #fff;">How to use <%- site.title %></h1>
                </div>
            </div>
        </div>
    </div>

    <div id="main" class="row">
        <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
            <div class="post-area clear-after">
                <article role="main" class="column nine">
                    <div class="row-content" id="1">
                        <h2 style="margin: 25px 0 0 0;">Individual builds</h2>
                        <img src="images/individual_builds.gif" alt="Help - Individual builds"
                             title="Help - Individual builds"/>
                    </div>

                    <div class="row-content" id="1">
                        <h2 style="margin: 25px 0 0 0;">Create connection</h2>
                        <img src="images/connect.gif" alt="Help - Create connection" title="Help - Create connection"/>
                    </div>

                    <div class="row-content" id="2">
                        <h2>Workflow</h2>
                        <img src="images/workflow.gif" alt="Help - workflow" title="Help - workflow"/>
                    </div>
                </article>
            </div><!-- post-area -->
        </div><!-- row-content -->
    </div><!-- row -->
</main>

<footer role="contentinfo">
    <div class="row">
        <div class="row-content buffer clear-after">
            <section id="top-footer">
                <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
                    <h4>Contribute</h4>
                    <p>Please submit any issues, bugs and proposals via GitHub Issues:<br/>
                        <a href="<%- site.github_issues_link %>" style="font-weight: bold;"><%- site.title %> in
                            GitHub</a><br/>
                        Thank you for finding time to help us!</p>
                </div>
                <div class="widget column three">
                    <h4>Credits</h4>
                    <table>
                        <tr>
                            <td>
                                <a href="http://redis.io" target="_blank" class="box" style="display:block;width:70px">Redis</a>
                                <a href="http://qt-project.org" target="_blank" class="box"
                                   style="display:block;width:70px">Qt</a>
                                <a href="https://www.openssl.org" target="_blank" class="box"
                                   style="display:block;width:70px">OpenSSL</a>
                                <a href="http://memcached.org" target="_blank" class="box"
                                   style="display:block;width:70px">Memcached</a>
                                <a href="http://unqlite.org" target="_blank" class="box"
                                   style="display:block;width:70px">UnQLite</a>
                                <a href="http://upscaledb.com" target="_blank" class="box"
                                   style="display:block;width:70px">UpscaleDB</a>
                                <a href="http://leveldb.org" target="_blank" class="box"
                                   style="display:block;width:70px">LevelDB</a>
                                <a href="http://pika.org" target="_blank" class="box"
                                   style="display:block;width:70px">Pika</a>
                                <a href="https://github.com/Qihoo360/pika" target="_blank" class="box"
                                   style="display:block;width:70px">Snappy</a>
                            </td>
                            <td>
                                <a href="http://www.libssh2.org" target="_blank" class="box"
                                   style="display:block;width:70px">LibSSH2</a>
                                <a href="http://www.ssdb.io" target="_blank" class="box"
                                   style="display:block;width:70px">SSDB</a>
                                <a href="http://www.riverbankcomputing.com/software/qscintilla/intro" target="_blank"
                                   class="box"
                                   style="display:block;width:70px">QScintilla</a>
                                <a href="https://cyrusimap.org" target="_blank" class="box"
                                   style="display:block;width:70px">Sasl</a>
                                <a href="http://symas.com/mdb" target="_blank" class="box"
                                   style="display:block;width:70px">LMDB</a>
                                <a href="http://www.boost.org" target="_blank" class="box"
                                   style="display:block;width:70px">Boost</a>
                                <a href="http://rocksdb.org" target="_blank" class="box"
                                   style="display:block;width:70px">RocksDB</a>
                                <a href="http://forestdb.org" target="_blank" class="box"
                                   style="display:block;width:70px">ForestDB</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="widget column three">
                    <h4>E-mail:</h4>
                    <p><a href="mailto:<%- author.contact_mail %>"><%- author.contact_mail %></a><br/>
                </div>
                <div class="widget meta-social column three">
                    <h4>Donate</h4>
                    <table style="padding: 0px; margin: 0px;">
                        <tr>
                            <td>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
                                      float="center">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="<%- site.paypal_token %>">
                                    <input type="image"
                                           src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
                                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                         width="1" height="1">
                                </form>
                            </td>
                            <td>
                                <form action="https://merchant.wmtransfer.com/lmi/payment.asp" method="POST"><input
                                            type="hidden"
                                            name="LMI_PAYMENT_AMOUNT"
                                            value="10.00">
                                    <input type="hidden" name="LMI_PAYMENT_DESC_BASE64"
                                           value="RG9uYXRlIGZvciBGYXN0b05vU1FM"> <input
                                            type="hidden" name="LMI_PAYEE_PURSE" value="Z330657777229"> <input
                                            type="submit" class="wmbtn"
                                            style="font-famaly:Verdana, Helvetica, sans-serif!important;padding:0 10px;height:25px;font-size:12px!important;border:1px solid #538ec1!important;background:#2A3198!important;color:#fff!important; border-radius: 5px;"
                                            value=" pay 10.00 WMZ ">
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </section><!-- top-footer -->
            <section id="bottom-footer">
                <p class="keep-left"><%- company.copyright %></p>
            </section><!-- bottom-footer -->
            <p> Website development &ndash; <a href="<%- company.domain %>" target="_blank" rel="nofollow"><img
                            style="display: inline; margin: 0 !important;" src="design/img/fastogt.png"
                            alt="<%- company.description %>" title="<%- company.description %>"/></a></p>
        </div><!-- row-content -->
    </div><!-- row -->
</footer>
</body>
</html>
