<!doctype html>
<html lang="en">
<head>
    <title>How to Use | <%- site.title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%- site.name %> - How to use"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <style type="text/css">@-ms-viewport {
            width: device-width;
        }</style>

    <link rel="stylesheet" href="/design/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/design/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/design/css/layers.min.css" media="screen">
    <link rel="stylesheet" href="/design/css/style.css" media="screen">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

<header role="banner" class="transparent light">
    <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
            <nav>
                <ul class="reset" role="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">How to use</a></li>
                    <li><a href="/anonim_users_downloads">Downloads</a></li>
                </ul>
            </nav>
            <div id="brand">
                <h2 class="reset"><a href="/"><%- site.title %></a></h2>
            </div>
            <div class="login">
                <a href="/login" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign in</a>
                <a href="/signup" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign up</a>
            </div>
            <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
        </div><!-- row-content -->
    </div><!-- row -->
</header>

<main role="main">
    <div id="intro-wrap">
        <div class="container intro-item">
            <div class="intro-mockup-wrapper">
                <div class="text-center">
                    <h1 style="color: #fff;">How to use <%- site.title %></h1>
                </div>
            </div>
        </div>
    </div>

    <div id="main" class="row">
        <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
            <div class="post-area clear-after">
                <article role="main" class="column nine">
                    <div class="row-content" id="1">
                        <h2 style="margin: 25px 0 0 0;">Individual builds</h2>
                        <img src="images/individual_builds.gif" alt="Help - Individual builds"
                             title="Help - Individual builds"/>
                    </div>

                    <div class="row-content" id="1">
                        <h2 style="margin: 25px 0 0 0;">Create connection</h2>
                        <img src="images/connect.gif" alt="Help - Create connection" title="Help - Create connection"/>
                    </div>

                    <div class="row-content" id="2">
                        <h2>Workflow</h2>
                        <img src="images/workflow.gif" alt="Help - workflow" title="Help - workflow"/>
                    </div>
                </article>
            </div><!-- post-area -->
        </div><!-- row-content -->
    </div><!-- row -->
</main>

<footer role="contentinfo">
    <div class="row">
        <div class="row-content buffer clear-after">
            <section id="top-footer">
                <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
                    <h4>Contribute</h4>
                    <p>Please submit any issues, bugs and proposals via GitHub Issues:<br/>
                        <a href="<%- site.github_issues_link %>" style="font-weight: bold;"><%- site.title %> in
                            GitHub</a><br/>
                        Thank you for finding time to help us!</p>
                </div>
                <div class="widget column three">
                    <h4>Credits</h4>
                    <table>
                        <tr>
                            <td>
                                <a href="http://redis.io" target="_blank" class="box" style="display:block;width:80px">Redis</a>
                                <a href="http://qt-project.org" target="_blank" class="box"
                                   style="display:block;width:80px">Qt</a>
                                <a href="https://www.openssl.org" target="_blank" class="box"
                                   style="display:block;width:80px">OpenSSL</a>
                                <a href="http://memcached.org" target="_blank" class="box"
                                   style="display:block;width:80px">Memcached</a>
                                <a href="http://unqlite.org" target="_blank" class="box"
                                   style="display:block;width:80px">UnQLite</a>
                                <a href="http://upscaledb.com" target="_blank" class="box"
                                   style="display:block;width:80px">UpscaleDB</a>
                                <a href="http://leveldb.org" target="_blank" class="box"
                                   style="display:block;width:80px">LevelDB</a>
                                <a href="https://github.com/Qihoo360/pika" target="_blank" class="box"
                                   style="display:block;width:80px">Pika</a>
                                <a href="https://github.com/Qihoo360/pika" target="_blank" class="box"
                                   style="display:block;width:80px">Snappy</a>
                            </td>
                            <td>
                                <a href="http://www.libssh2.org" target="_blank" class="box"
                                   style="display:block;width:80px">LibSSH2</a>
                                <a href="http://www.ssdb.io" target="_blank" class="box"
                                   style="display:block;width:80px">SSDB</a>
                                <a href="http://www.riverbankcomputing.com/software/qscintilla/intro" target="_blank"
                                   class="box"
                                   style="display:block;width:80px">QScintilla</a>
                                <a href="https://cyrusimap.org" target="_blank" class="box"
                                   style="display:block;width:80px">Sasl</a>
                                <a href="http://symas.com/mdb" target="_blank" class="box"
                                   style="display:block;width:80px">LMDB</a>
                                <a href="http://www.boost.org" target="_blank" class="box"
                                   style="display:block;width:80px">Boost</a>
                                <a href="http://rocksdb.org" target="_blank" class="box"
                                   style="display:block;width:80px">RocksDB</a>
                                <a href="http://forestdb.org" target="_blank" class="box"
                                   style="display:block;width:80px">ForestDB</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="widget column three">
                    <h4>E-mail:</h4>
                    <a href="mailto:<%- support.contact_email %>"><%- support.contact_email %></a>
                    <a href="/private_policy">Private policy</a>
                    <a href="/term_of_use">Term of use</a>
                </div>
            </section><!-- top-footer -->
            <section id="bottom-footer">
                <p class="keep-left"><%- company.copyright %></p>
            </section><!-- bottom-footer -->
            <p> Website development &ndash; <a href="<%- company.domain %>" target="_blank" rel="nofollow"><img
                            style="display: inline; margin: 0 !important;" src="design/img/fastogt.png"
                            alt="<%- company.description %>" title="<%- company.description %>"/></a></p>
        </div><!-- row-content -->
    </div><!-- row -->
</footer>
<script src="scripts/jivosite.js"></script>
</body>
</html>
