<!doctype html>
<html>
<head>
    <title><%- site.title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', <%- site.google_analitics_token %>, 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#download">Download</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
    <div class="jumbotron text-center">
        <h1><img src="logo64x64.png"/><%- site.description %></h1>

        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign in</a>
        <a href="/signup" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign up</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
</div>

<div class="container">
    <div class="row text-center">
    
        <div class="col-sm-3">
            <div class="github">
                <a aria-label="Watch <%- project.github_link_wihout_host %> on GitHub" data-count-aria-label="# watchers on GitHub" data-count-api="/repos/<%- project.github_link_wihout_host %>#subscribers_count" data-count-href="/<%- project.github_link_wihout_host %>/watchers" data-icon="octicon-eye" href="<%- project.github_link %>" class="github-button">Watch</a>
                <a aria-label="Star <%- project.github_link_wihout_host %> on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/<%- project.github_link_wihout_host %>#stargazers_count" data-count-href="/<%- project.github_link_wihout_host %>/stargazers" data-icon="octicon-star" href="<%- project.github_link %>" class="github-button">Star</a>
                <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="facebook">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=1001700446558032";
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-href="<%= site.domain %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>	
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="twitter">
                <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="SiteOnDevice">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <a href="https://twitter.com/SiteOnDevice" class="twitter-follow-button" data-show-count="false">Follow @SiteOnDevice</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="google_plus">
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                <script type="text/javascript">
                    window.___gcfg = {lang: 'en-GB'};
                    (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <script src="https://apis.google.com/js/platform.js" async defer>
                    {lang: 'en-GB'}
                </script>
                <div class="g-plusone" data-size="medium" data-href="<%= site.domain%>"></div>
            </div>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="text-left">
        <h1 id="about"><%= site.description %></h1>
      
        <div class="well">
            <h3>Currently we support next databases:</h3>
            <p>
                Redis<br>
                Memcached<br>
                SSDB<br>
                LevelDB<br>
                RocksDB<br>
                UnQLite<br>
                LMDB
            </p>
            For all this databases you can connect and use them in any way you need. Also FastoNoSQL is IDE tool for NoSQL which works on the most famous platforms like: Windows, Linux, MacOSX, Android, FreeBSD.
            <p>
                <b>Advantages:</b><br>
                Open source<br>
                Cross-platform<br>
                Flexible and extending for future databases<br>
                Simple code<br>
                Great solutions
            </p>
        </div>
        
        <p>
            In addition you are able to use our program for your own purposes, all free and we love Open source, We are waiting for your feedback!<br>
            Please write any issues and proposals to <a href="<%= project.github_issues_link %>">GitHub Issues.</a><br>
        </p>
    </div>
</div>


<div class="navbar navbar-inverse navbar-fixed-buttom">
  <div class="container">
    <div class="navbar-inner navbar-content-center">
            <span class="navbar-text">
            <div>
                <h4>Contribute</h4>
                    <p>Please submit any issues, bugs and proposals via GitHub Issues:<br />
                    <a href="<%= project.github_issues_link %>" style="font-weight: bold;"><%= project.project_name %> in GitHub</a><br />
                    Thank you for finding time to help us!</p>
            </div>
            <p><%= company.copyright %></p>
            <p> Website development - <a href="<%= company.domain %>"><%= company.description %></a></p>
        </span>
        </div>
  </div>
</div>

</body>
</html>
