<!doctype html>
<html lang="en">
<head>
    <title><%- site.small_description %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%- site.large_description %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <style type="text/css">@-ms-viewport {
            width: device-width;
        }</style>

    <link rel="stylesheet" href="/design/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/design/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/design/css/layers.min.css" media="screen">
    <link rel="stylesheet" href="/design/css/style.css" media="screen">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="page">
<header role="banner" class="transparent light">
    <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
            <nav>
                <ul class="reset" role="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">How to use</a></li>
                    <li><a href="/anonim_users_downloads">Download</a></li>
                    <li><a href="/pro_users_downloads">Download PRO</a></li>
                    <li><a href="/community_about_us">Community</a></li>
                </ul>
            </nav>
            <div id="brand">
                <h2 class="reset"><a href="/"><%- site.title %></a></h2>
            </div>
            <div class="login">
                <a href="/login" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign in</a>
                <a href="/signup" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign up</a>
            </div>
            <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
        </div><!-- row-content -->
    </div><!-- row -->
</header>

<main role="main">
    <div id="intro-wrap">
        <div class="container intro-item">
            <div class="intro-mockup-wrapper">
                <div class="text-center">
                    <h1 class="white"><%- site.description %></h1>
                    <h3 class="count white"
                        data-value="<%- statistics.anonim_power %>"><%- statistics.anonim_power %></h3>
                    <h3 class="white">COMMUNITY LAUNCHED APPLICATION</h3>
                    <h3><a href="<%- site.discord_group %>">Our discord group to help you!</a></h3>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <section class="row section call-to-action first">
            <div class="row-content" style="line-height: 0.8;">
                <div class="github">
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="<%- site.github_link %>/subscription"
                       data-icon="octicon-eye" data-show-count="true"
                       aria-label="Watch <%- site.github_link_without_host %> on GitHub">Watch</a>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="<%- site.github_link %>" data-icon="octicon-star"
                       data-show-count="true"
                       aria-label="Star <%- site.github_link_without_host %> on GitHub">Star</a>
                </div>
            </div>
        </section>

        <!--content-->
        <section class="row section text-light first">
            <div class="row-content buffer even clear-after">
                <div class="column six">
                    <h2>What is <%- site.title %>?</h2>
                    <p>
                        <%- site.title %> is the GUI platform for NoSQL databases. Currently we support next databases:
                    </p>
                    <ul>
                        <li><a href="http://redis.io" target="_blank">Redis</a></li>
                        <li><a href="http://memcached.org" target="_blank">Memcached</a></li>
                        <li><a href="http://ssdb.io" target="_blank">SSDB</a></li>
                        <li><a href="http://leveldb.org" target="_blank">LevelDB</a></li>
                        <li><a href="http://rocksdb.org" target="_blank">RocksDB</a></li>
                        <li><a href="http://unqlite.org" target="_blank">UnQLite</a></li>
                        <li><a href="http://symas.com/mdb" target="_blank">LMDB</a></li>
                        <li><a href="http://forestdb.org" target="_blank">ForestDB (Available in PRO version)</a></li>
                        <li><a href="https://github.com/Qihoo360/pika" target="_blank">Pika (Available in PRO
                                version)</a></li>
                        <li><a href="https://github.com/Netflix/dynomite" target="_blank">Dynomite (Available in PRO
                                version)</a></li>
                        <li><a href="https://eqalpha.com" target="_blank">KeyDB</a></li>
                    </ul>
                </div>
                <div class="side-mockup right-mockup animation">
                    <div class="slider desktop-slider">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="images/slider/main-1-min.png" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/slider/main_linux_redis-min.png" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/slider/all_database-min.png" alt="">
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p>
                        You can connect all these databases and use them in any way you need. Also <%- site.title %> is
                        IDE tool for NoSQL which works on the most famous platforms like: Windows, Linux, MacOSX,
                        Android, FreeBSD.
                    </p>
                    <p>
                        Main big advantages of <%- site.title %> are:
                    </p>
                    <p>
                    <ul>
                        <li>Open source</li>
                        <li>Cross-platform</li>
                        <li>The possibility of extending for future databases</li>
                        <li>Simple code</li>
                        <li>Great and flexible solution</li>
                        <span style="color:red">
			            <li>Forever free for opensource projects and for students please send an email to: <a
                                    href="mailto:<%- support.contact_email %>"><%- support.contact_email %></a> and use solution without limitations.</li>
                        </span>
                        <span style="color:red">
                        <li>Money back guarantee.</li>
                        </span>
                    </ul>
                    </p>
                    <p>
                        We are waiting for your feedback! Please write any issues and proposals to
                        <a href="<%- site.github_issues_link %>" alt="NoSQL GUI">GitHub Issues</a>.
                    </p>
                </div>
            </div>
        </section>

        <section class="row section text-light second">
            <div class="row-content buffer even clear-after">
                <div class="column six push-six last-special">
                    <h2>Features</h2>
                    <p> Full Power of Redis shell <%- site.title %> embeds the same redis-cli engine. It means that you
                        can reuse your main skills of redis-cli shell in <%- site.title %> This program provides you
                        with syntax highlighting, autocompletion, different view modes (text, tree, table) and others.
                        With excellent power comes great responsibility. <%- site.title %> won’t stop you from executing
                        "undesired" code. Be attentive, as you do with redis-cli shell!
                    </p>
                </div>
                <div class="side-mockup left-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="images/common/windows/main_window_windows_more.png" alt=""></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light first">
            <div class="row-content buffer even clear-after">
                <div class="column six">
                    <h2>Multiple Shells</h2>
                    <p> You can open as many shells as you need. Every tab in <%- site.title %> - is a Redis shell,
                        fully
                        divided from
                        each other.
                        Have many opened shells for single Redis/Memcached server, or many shells for many different
                        servers.</p>
                </div>
                <div class="side-mockup right-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="/images/common/macosx/main_window_mac.png"
                                  alt="<%- site.title %> - Multiple Shells"
                                  title="Multiple Shells"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light second">
            <div class="row-content buffer even clear-after">
                <div class="column six push-six last-special">
                    <h2>Autocompletion</h2>
                    <p> <%- site.title %> supply you with autocompletion for all Redis commands. To
                        assist <%- site.title %> autocompletion - execute your code. Autocompletion is also available
                        for other databases commands.</p>
                </div>
                <div class="side-mockup left-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="/images/common/linux/autocomplete_linux.png" alt="<%- site.title %> Admin GUI"
                                  title="Memcached commands"></div>
                    </div>
                </div>
            </div>
        </section>


        <section class="row section text-light first">
            <div class="row-content buffer even clear-after">
                <div class="column six">
                    <h2>Redis Cluster support</h2>
                    <p> Redis Cluster provides a way to run Redis server where data is automatically shared across
                        multiple Redis nodes. <%- site.title %> is able to work with Redis Cluster, we support discovery
                        functionality and you can work with cluster as one server.
                    </p>
                </div>
                <div class="side-mockup right-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="/images/redis/cluster_workflow.png" alt="Redis Cluster workflow"
                                  title="Redis Cluster workflow"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light second">
            <div class="row-content buffer even clear-after">
                <div class="column six push-six last-special">
                    <h2>Access your server using SSH protocol</h2>
                    <p>Access your server using SSH protocol You are able to connect to <strong>server via SSH
                            tunnel</strong>. We support two methods of authentication: with password and with private
                        key.
                    </p>
                </div>
                <div class="side-mockup left-mockup animation">
                    <div class="slider desktop-slider" data-autoplay="5000">
                        <div><img src="images/common/macosx/ssh_dialog_mac.png" alt="<%- site.title %> - SSH protocol"
                                  title="Access your Redis server using SSH protocol"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light first">
            <div class="row-content buffer even clear-after">
                <div class="column six">
                    <h2>Memcached support</h2>
                    <p><a href="http://memcached.org">Memcached</a> is like Redis and now our program can work with it.
                        Now you
                        can work directly from <strong><%- site.title %> with memcached</strong> - memory object caching
                        system.</p>
                </div>
                <div class="side-mockup right-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="/images/common/macosx/main_window_mac.png"
                                  alt="<%- site.title %> - Memcached GUI"
                                  title="<%- site.title %> - Memcached GUI"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light second">
            <div class="row-content buffer even clear-after">
                <div class="column six push-six last-special">
                    <h2>SSDB support</h2>
                    <p><a href="http://ssdb.io">SSDB</a> is a high productive NoSQL database supporting many data
                        structures, an alternative to Redis, and now our program can work with it.
                    </p>
                </div>
                <div class="side-mockup left-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="/images/ssdb/ssdb_workflow.png" alt="SSDB support"
                                  title="<%- site.title %> - SSDB support"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light first">
            <div class="row-content buffer even clear-after">
                <div class="column six">
                    <h2>Graphics of history</h2>
                    <p><strong>Desktop Managers</strong> makes working with the database more user-friendly. If you want
                        to see
                        the work <strong>history of your server</strong>, you can check "Logging enable" on connection
                        dialog
                        window.
                        And every minute <%- site.title %> executes redis <code>info</code> command, and saves result.
                    </p>
                </div>
                <div class="side-mockup right-mockup animation">
                    <div class="slider desktop-slider">
                        <div><img src="/images/history_graph.png" alt="<%- site.title %> - history of your server GUI"
                                  title="<%- site.title %> Admin GUI - History of your server"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row section text-light second">
            <div class="text-center">
                <h2>Our PRO version statistics:</h2>
                <div id="canvas-holder" style="width:50%">
                    <canvas id="chart-area"></canvas>
                </div>
            </div>
            <div class="row-content buffer even clear-after">
                <div class="column fifth">
                    <h4><%- statistics.exec_count %></h4>
                    <p>Started application count</p>
                </div>
                <div class="column fifth">
                    <h4><%- statistics.registered_users %></h4>
                    <p>Registered users</p>
                </div>
                <div class="column fifth">
                    <h4><%- statistics.active_users %></h4>
                    <p>Active users</p>
                </div>
                <div class="column fifth">
                    <h4><%- statistics.banned_users %></h4>
                    <p>Banned users</p>
                </div>
                <div class="column fifth">
                    <h4><%- statistics.supported_users %></h4>
                    <p>Subscribed users</p>
                </div>
            </div>
        </section>
    </div>
</main>

<footer role="contentinfo">
    <div class="row">
        <div class="row-content buffer clear-after">
            <section id="top-footer">
                <div class="widget column"><!-- la class="widget" è forse generata utomaticamente da wp -->
                    <h4>Contribute</h4>
                    <p>Please submit any issues, bugs and proposals via GitHub Issues:<br/>
                        <a href="<%- site.github_issues_link %>" style="font-weight: bold;"><%- site.title %> in
                            GitHub</a><br/>
                        Thank you for finding time to help us!</p>
                </div>
                <div class="widget column">
                    <h4>Credits</h4>
                    <table>
                        <tr>
                            <td>
                                <a href="http://redis.io" target="_blank" class="box" style="display:block;width:80px">Redis</a>
                                <a href="http://qt-project.org" target="_blank" class="box"
                                   style="display:block;width:80px">Qt</a>
                                <a href="https://www.openssl.org" target="_blank" class="box"
                                   style="display:block;width:80px">OpenSSL</a>
                                <a href="http://memcached.org" target="_blank" class="box"
                                   style="display:block;width:80px">Memcached</a>
                                <a href="http://unqlite.org" target="_blank" class="box"
                                   style="display:block;width:80px">UnQLite</a>
                                <a href="http://leveldb.org" target="_blank" class="box"
                                   style="display:block;width:80px">LevelDB</a>
                                <a href="https://eqalpha.com" target="_blank" class="box"
                                   style="display:block;width:80px">KeyDB</a>
                                <a href="https://github.com/Qihoo360/pika" target="_blank" class="box"
                                   style="display:block;width:80px">Pika</a>
                            </td>
                            <td>
                                <a href="http://www.libssh2.org" target="_blank" class="box"
                                   style="display:block;width:80px">LibSSH2</a>
                                <a href="http://www.ssdb.io" target="_blank" class="box"
                                   style="display:block;width:80px">SSDB</a>
                                <a href="http://www.riverbankcomputing.com/software/qscintilla/intro" target="_blank"
                                   class="box"
                                   style="display:block;width:80px">QScintilla</a>
                                <a href="https://github.com/Netflix/dynomite" target="_blank" class="box"
                                   style="display:block;width:80px">Dynomite</a>
                                <a href="http://symas.com/mdb" target="_blank" class="box"
                                   style="display:block;width:80px">LMDB</a>
                                <a href="http://rocksdb.org" target="_blank" class="box"
                                   style="display:block;width:80px">RocksDB</a>
                                <a href="http://forestdb.org" target="_blank" class="box"
                                   style="display:block;width:80px">ForestDB</a>
                                <a href="https://github.com/google/snappy" target="_blank" class="box"
                                   style="display:block;width:80px">Snappy</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="widget column">
                    <h4>E-mail:</h4>
                    <a href="mailto:<%- support.contact_email %>"><%- support.contact_email %></a><br/>
                    <a href="/private_policy">Private policy</a><br/>
                    <a href="/term_of_use">Term of use</a>
                </div>
            </section><!-- top-footer -->
            <section id="bottom-footer">
                <p class="keep-left"><%- company.copyright %></p>
            </section><!-- bottom-footer -->
            <p> Website development &ndash; <a href="<%- company.domain %>" target="_blank" rel="nofollow"><img
                            style="display: inline; margin: 0 !important;" src="design/img/fastogt.png"
                            alt="<%- company.description %>" title="<%- company.description %>"/></a></p>
        </div><!-- row-content -->
    </div><!-- row -->
</footer>
<script src="/design/js/jquery.min.js"></script>
<script src="/design/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/design/js/plugins.js"></script>
<script src="/design/js/beetle.js"></script>
<script src="/design/js/slider.js"></script>
<script src="/scripts/jivosite.js"></script>
<script src="/scripts/Chart.bundle.min.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [<%- statistics.statistics.data %>],
                backgroundColor: [<%- statistics.statistics.colors %>],
                label: 'Usage by OS' // for legend
            }],
            labels: [<%- statistics.statistics.labels %>]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            title: {
                display: false,
                text: 'Usage by OS'
            },
            animation: {
                animateRotate: true,
                animateScale: true
            }
        }
    };
    window.onload = function () {
        var ctx = document.getElementById('chart-area');
        window.myPolarArea = new Chart(ctx, config);
    };
    $('.count').each(function () {
        var $this = $(this);
        jQuery({Counter: 0}).animate({Counter: $this.text()}, {
            duration: 3000,
            easing: 'swing',
            step: function () {
                $this.text(Math.ceil(this.Counter));
            }
        });
    });
</script>
</body>
</html>
