<!doctype html>
<html>
<head>
    <title><%- site.title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%- site.large_description %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="design/css/profile-styles.css" media="screen">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="container">
    <div class="alert hide" role="alert" id="alert"></div>
    <div class="page-header text-left">
        <div class="well">
            <h1><img src="logo32x32.png"/><%= site.title %><a href="/logout"
                                                              class="btn btn-warning btn-md pull-right"><span
                            class="fa fa-sign-out"></span> Sign out</a></h1>
            <p>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.email %><br>
                <!-- <strong>password</strong>: <%= user.password %> -->
            </p>
        </div>
    </div>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <% if (user.getSubscriptionState() && user.getSubscriptionState() !== 'active') { %>
    <div class="alert alert-warning">Your subscription is <%= user.getSubscriptionState() %>. Resubscribe or contact the
        administrator.
    </div>
    <% } %>

    <div class="row">
        <% if (user.enableSubscription()) { %>
        <div class="row-content clear-after">
            <div class="container-subscription">
                <div class="col-sm-3 box-subscription">
                    <div class="subscription">
                        <h1 class="title-subscription">FREE</h1>
                        <p class="price">USD 0</p>
                        <ul class="list-conditions">
                            <li>
                                <i class="material-icons icon-conditions">storage</i>
                                <span>7 Databases</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">polymer</i>
                                <span>Database Instance</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">edit</i>
                                <span>Key batch editing</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">alarm_on</i>
                                <span>Real-time atomic editor</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">screen_share</i>
                                <span>Real-time monitoring</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">search</i>
                                <span>Key filters</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">data_usage</i>
                                <span>Data-visualization</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">timer_off</i>
                                <span>Free forever</span>
                            </li>
                        </ul>
                        <a href="/registered_users_downloads"
                           class="btn btn-success download btn-subscription">Download</a>
                    </div>
                </div>
                <div class="col-sm-3 box-subscription">
                    <div class="subscription">
                        <h1 class="title-subscription">1 MONTH</h1>
                        <p class="price">
                            <span data-fsc-item-path="fastonosql-subscription-1-month" data-fsc-item-price></span>
                        </p>
                        <ul class="list-conditions">
                            <li>
                                <i class="material-icons icon-conditions">storage</i>
                                <span style="color:red">9 Databases</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">polymer</i>
                                <span>Database Instance</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">edit</i>
                                <span>Key batch editing</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">alarm_on</i>
                                <span>Real-time atomic editor</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">screen_share</i>
                                <span>Real-time monitoring</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">search</i>
                                <span>Key filters</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">data_usage</i>
                                <span>Data-visualization</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">timer_off</i>
                                <span>Free forever</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">accessibility</i>
                                <span style="color:red">Individual builds without limitations</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">vpn_key</i>
                                <span style="color:red">Secure protected application</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">bug_report</i>
                                <span style="color:red">Bugs/features requests priority</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">build</i>
                                <span style="color:red">Support services</span>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-primary" id="subscription"
                                data-fsc-action="Add,Checkout"
                                data-fsc-item-path-value="fastonosql-subscription-1-month">
                            Subscribe
                        </button>
                    </div>
                </div>
                <div class="col-sm-3 box-subscription">
                    <div class="subscription">
                        <h1 class="title-subscription">1 YEAR</h1>
                        <p class="price">
                            <span data-fsc-item-path="fastonosql-subscription-12-month" data-fsc-item-price></span>
                        </p>

                        <ul class="list-conditions">
                            <li>
                                <i class="material-icons icon-conditions">storage</i>
                                <span style="color:red">9 Databases</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">polymer</i>
                                <span>Database Instance</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">edit</i>
                                <span>Key batch editing</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">alarm_on</i>
                                <span>Real-time atomic editor</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">screen_share</i>
                                <span>Real-time monitoring</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">search</i>
                                <span>Key filters</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">data_usage</i>
                                <span>Data-visualization</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">timer_off</i>
                                <span>Free forever</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">accessibility</i>
                                <span style="color:red">Individual builds without limitations</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">vpn_key</i>
                                <span style="color:red">Secure protected application</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">bug_report</i>
                                <span style="color:red">Bugs/features requests priority</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">build</i>
                                <span style="color:red">Support services</span>
                            </li>
                            <li>
                                <i class="material-icons icon-conditions">money_off</i>
                                <span style="color:red">You save 20%</span>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-primary" id="subscription"
                                data-fsc-action="Add,Checkout"
                                data-fsc-item-path-value="fastonosql-subscription-12-month">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <% } else if (user.getSubscriptionState() === 'active') { %>
        <div class="col-sm-4">
            <!-- <a href="/subscribed_users_downloads" class="btn btn-success download">Download</a> -->
            <form action="/build_installer_request" method="get" class="btn-verification">
                <button type="submit" class="btn btn-primary">Build last stable <%= project.name %> version</button>
            </form>
            <a href="skype:<%- author.contact_skype %>"><%- author.contact_skype %></a>
            <a href="mailto:<%- author.contact_mail %>"><%- author.contact_mail %></a>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <form action="/cancel_subscription" method="post">
                        <button type="submit" class="btn btn-primary">Cancel Subscription</button>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <br/>
    <div class="row">
        <div class="well">
            <h3>Why do we need subscriptions?</h3>
            <strong><%- site.title %></strong> was founded in Jule 2015 and since that time more than 40 releases had
            been published.
            We started from <strong>FastoRedis</strong> which worked only with <strong>Redis</strong> database and then
            we understood
            that there are a lot of <strong>NoSQL databases</strong> which need our solution.
            At the moment we support <strong>9</strong> databases:
            <ul>
                <li><a href="http://redis.io" target="_blank">Redis</a></li>
                <li><a href="http://memcached.org" target="_blank">Memcached</a></li>
                <li><a href="http://ssdb.io" target="_blank">SSDB</a></li>
                <li><a href="http://leveldb.org" target="_blank">LevelDB</a></li>
                <li><a href="http://rocksdb.org" target="_blank">RocksDB</a></li>
                <li><a href="http://unqlite.org" target="_blank">UnQLite</a></li>
                <li><a href="http://symas.com/mdb" target="_blank">LMDB</a></li>
                <li><a href="http://upscaledb.com" target="_blank">UpscaleDB</a></li>
                <li><a href="http://forestdb.org" target="_blank">ForestDB</a></li>
            </ul>
            Our solution is the <strong>only one in the world</strong> which can support such number of databases and
            still be
            <strong>opensource</strong>, we
            don't want to stop at this we gonna add new <strong>NoSQL databases</strong> and improve the functionality
            of existing databases.
            Also in plans create forum for all who love <strong>NoSQL</strong> like we do to simplify database workflow
            and <strong>be close to each other</strong>.</br>

            We need your <strong>support</strong>, <strong>understanding</strong>, <strong>feedbacks</strong>.
            In order to develop we are introducing <strong>paid subscriptions for users</strong>.</br>

            <span style="color:red">
            <h3>
                The subscription gives access to:
                <ul>
                    <li>Last stable version, previous released versions.</li>
                    <li>Individual builds,
                        <strong>
                            <a href="https://github.com/fastogt/fastonosql/wiki/Individual-builds"> without
                                limitations</a>
                        </strong>.
                    </li>
                    <li>Application will start only after user verification</li>
                    <li>For subscribed people we can build any package you like, for any platform architecture.</li>
                    <li>Bugs/features requests priority</li>
                    <li>Support services, realtime or via emals, we can help you with understanding <strong>NoSQL
                            world</strong>.
                    </li>
                </ul>
            </h3>
            </span>

            <h3>Our team strongly believe in the project and we subscribe with you too.</h3>

            Guys, please subscribe and help us to develop, be the part of <strong>our community</strong>!
            Also if you are interested in <strong>free TV</strong>, we have other
            opensource project <a href="https://fastotv.com">FastoTV</a>.
            We are waiting for your feedback! Please write any issues and proposals to <a
                    href="<%- site.github_issues_link %>" alt="NoSQL GUI">GitHub Issues</a>.
        </div>
    </div>
</div>
<!-- Fastspring actions -->
<script>
    /**
     * Render alert block
     * @param {String} status - options: success, info, warning, danger
     * @param {String} message - message from request
     */
    function viewAlert(status, message) {
        var el = document.getElementById('alert');
        var btn = document.getElementById('subscription');
        var classList = el.classList;

        el.innerHTML = message;

        classList.add('alert-' + status);
        classList.add('hide');
        classList.add('show');

        btn.disabled = true;

        setTimeout(function () {
            classList.remove('show', 'alert-' + status);
            classList.add('hide');
            el.innerHTML = '';
            btn.disabled = false;

            status === 'success'
            && window.location.reload();
        }, 3000);
    }

    function onPopupClose(data) {
        if (data) {
            $.ajax({
                type: 'POST',
                url: '/subscription',
                data: {data: JSON.stringify(data)},
                success: function (response) {
                    viewAlert('success', response);
                },
                error: function (response) {
                    viewAlert('danger', response.responseText);
                }
            });
        }
    }
</script>

<!-- Fastspring script -->
<script id="fsc-api"
        src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.4/fastspring-builder.min.js"
        type="text/javascript"
        data-storefront="fastogt.onfastspring.com/popup-fastonosql"
        data-popup-closed="onPopupClose"
>
</script>
</body>
</html>
