<!doctype html>
<html>
<head>
    <title>Download <%- site.title %> for Mac, Windows, Linux, FreeBSD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        body {
            padding-top: 80px;
        }
    </style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700'
          rel='stylesheet' type='text/css'>

    <meta name="description" content="<%- site.large_description %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');

        function download(os, platform, package_extension) {
            ga('send', 'event', 'Download', 'Registered user download for ' + os, 'Download Page');
            location.href = '/trial_users_downloads/' + os + '/<%= project.name_lowercase %>-<%= project.version %>-' + platform + package_extension;
        }
    </script>
</head>
<body>
<div class="container">
    <div class="well">
        <h3>
            <p>Download <%= site.small_description %></p>
            <!-- <span style="color:red">This is trial version, after subscription you can get unlimited version.</span> -->
            <span style="color:red">Trials are not available. Only after subscription you can get application.</span>
        </h3>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <img src="/images/macosx.png" alt="" title="">
                        <%= project.name %> <%= project.version %> <span class="dowm-os">For Mac OS X:</span>
                    </h3>
                </div>
            </div>
            <!-- version -->
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('macosx', 'x86_64', '.dmg')"> 64 bit Mac OS X <%= project.version %> Installer
                    (.dmg)
                </button>
            </p>
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('macosx', 'x86_64', '.zip')"> 64 bit Application
                    Archive <%= project.version %> (.zip)
                </button>
            <p>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <img src="/images/windows.png" alt="" title="">
                        <%= project.name %> <%= project.version %> <span class="dowm-os">For Windows:</span>
                    </h3>
                </div>
            </div>
            <!-- version -->
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('windows', 'x86_64', '.exe')"> 64 bit Windows <%= project.version %> Installer
                    (.exe)
                </button>
            </p>
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('windows', 'x86_64', '.zip')"> 64 bit Application
                    Archive <%= project.version %> (.zip)
                </button>
            </p>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <img src="/images/linux.png" alt="" title="">
                        <%= project.name %> <%= project.version %> <span class="dowm-os">For Linux:</span>
                    </h3>
                </div>
            </div>
            <!-- version -->
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('linux', 'x86_64', '.deb')"> 64 bit Debian/Ubuntu <%= project.version %>
                    Package (.deb)
                </button>
            </p>
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('linux', 'x86_64', '.rpm')"> 64 bit Fedora/openSUSE <%= project.version %>
                    Package (.rpm)
                </button>
            </p>
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('linux', 'x86_64', '.tar.gz')"> 64 bit Application
                    Archive <%= project.version %> (.tar.gz)
                </button>
            <p>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <img src="/images/android.png" alt="" title="">
                        <%= project.name %> <%= project.version %> <span class="dowm-os">For Android:</span>
                    </h3>
                </div>
            </div>
            <!-- version -->
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('android', 'armeabi-v7a', '.apk')"> Android <%= project.version %> Package
                    (.apk)
                </button>
            </p>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <img src="/images/freebsd.png" alt="" title="">
                        <%= project.name %> <%= project.version %> <span class="dowm-os">For FreeBSD:</span>
                    </h3>
                </div>
            </div>
            <!-- version -->
            <p>
                <button type="button" id="build_button" class="btn btn-primary"
                        onclick="download('freebsd', 'x86_64', '.tar.gz')"> 64 bit FreeBSD <%= project.version %>
                    Package (.tar.gz)
                </button>
            </p>
        </div>

    </div>
</div>
</body>
</html>
